#caic-sel-sex-picker
  .van-cell
    changeFontSize(14px)

  .caic-title
    text-align: left

  .caic-selSex.van-radio-group
    display: flex
    align-content: space-between

  .caic-selSex .van-radio
    margin: 0 15px